<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>led</servlet-name>
        <servlet-class>com.javaclimber.iotled.FirebaseLedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ledapi</servlet-name>
        <servlet-class>com.javaclimber.iotled.FirebaseLedServletAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>led</servlet-name>
        <url-pattern>/led</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ledapi</servlet-name>
        <url-pattern>/ledapi</url-pattern>
    </servlet-mapping>
</web-app>
